@import "_fonts.scss";
@import "_mediaqueries.scss";
@import "_colors.scss";

#checklist {
  overflow: hidden;
  background: linear-gradient(90deg, #249084, #3EB490, #4CCC98, #54D99C, #68FFA8);

  @media screen and (max-width: $breakpoint-phone) {
    overflow-y: scroll;
  }

  .socials {
    position: relative;
    bottom: 0;
    right: 40%;

    @media screen and (max-width: $breakpoint-phone) {
      position: relative !important;
      bottom: 20px !important;
      right: 25% !important;
    }
   
  }
}

.checklist_content {
  margin-top:155px;
  color:$color-white;

  .checklist_step {
    font-family: 'TitilliumWeb-Light';
    font-size: 20px;

    .checklist_name {
      font-family: TitilliumWeb-Bold;
      font-size: 50px;
    }
  }

  .checklist_info {
    font-family: TitilliumWeb-Regular;
    font-size: 15px;
    margin-bottom: 2em;
  }

  .photoChecklist {
    height: 400px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;

    .active {
      transform: rotateY(180deg);
      margin-left: -80px;
    }
    
    .side {
      backface-visibility: hidden;
      position: absolute;
      overflow: hidden;
      width: 80%;
      -webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
      0 5px 15px 0 rgba(0,0,0,0.08);
      -moz-box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
      0 5px 15px 0 rgba(0,0,0,0.08);
      box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
      0 5px 15px 0 rgba(0,0,0,0.08);
      
      img {
        width: 100%;
        height: 400px;
      }
    }

    .back {
      background: #fff;
      color: #249084;
      font-family: 'Titillium Web';
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      transform: rotateY(180deg);
      padding-top:110px;
      padding-right: 50px;
      padding-left:50px;
    }

    #backside {
      background: #fff;
      height:400px;
      color: #249084;
      font-family: 'Titillium Web';
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      transform: rotateY(180deg);
      padding-top:20%;
      padding-right: 50px;
    }

    @media screen and (max-width: $breakpoint-phone) {
      display:none;
    }

  }
 
  .view_up {
    display: none;
    position: absolute;
    top: -58px;
    left: 62%;
    border-color: transparent;
    background-color: transparent;
    outline: none;
    z-index: 20;

    i {
      border: solid #fff;
      border-width: 0 6px 6px 0;
      display: inline-block;
      padding: 16px;
    }

    .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
  }

  .checklistItems {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 60vh;
    max-width: 50%;
    margin-left: 100px;
    overflow: hidden;

    div:nth-child(1) {
      margin-top: 50px;

      @media screen and (max-width: $breakpoint-phone) {
        margin-top: 0px;
      }
    }

    .label_wrap {
      background: #fff;
      margin-bottom: 30px;
      margin-right: 30px;
      transition: transform 0.6s ease;

      .my-checklist {
        margin-bottom:0;
        display: flex;
        flex-direction: row;
        transition: box-shadow 1s;
        background-color: #fff;
        font-family: 'Titillium Web';
        font-weight: 200;
        font-size: 20px;
        width: 500px;
        height: 100%;
  
        input {
          width:0;
          height:0;
          opacity: 0;
        }
    
        input + span:before {
          color: #249084;
          background-color: #249084;
          border-radius: 120%;
          height: 18px;
          width: 18px;
        }
  
        input:hover + span:before {
          color: #249084;
          background-color: #249084;
        }
  
        input[type="checkbox"]:checked + span {
          content:"\2713";
          border: 2px solid white;
          color: white;
          background-color: #249084;
          -webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
          0 5px 15px 0 rgba(0,0,0,0.08);
          -moz-box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
          0 5px 15px 0 rgba(0,0,0,0.08);
          box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
          0 5px 15px 0 rgba(0,0,0,0.08);
          transition: box-shadow 0.1s ease-in-out;
        }
  
        input[type="checkbox"]:checked + span:before {
          color: white;
          background-color: #249084;
        }
  
        span {
          display:block;
          position:relative;
          font-family: 'Titillium Web';
          background:#fff;
          color: #249084;
          font-size:20px;
          padding: 15px 82px 15px 55px;
          box-sizing:border-box;
          width:500px;
          height: 100%;
          text-align:left;
          overflow:hidden;
          z-index:2;
          cursor:pointer;
  
          &:before {
            content:"\2713";
            position:absolute;
            left: 5%;
            top: 36%;
            box-sizing:border-box;
            font-size:16px;
            color:white;
            transition:all .4s;
            z-index:1;
          }

          @media screen and (max-width: $breakpoint-phone) {
            width:320px;
            max-width:100%;
          }
        }

        &:hover {
          box-shadow: 0 0 3px #515151;
        }

        .checklist_tip {
          border: none;
          background-color:#fff; 
          cursor: pointer;
          -webkit-transition-duration: 0.4s; 
          transition-duration: 0.4s;
          margin-left: -35px;
          border: 3px solid $color-green;
          width:30px;
          border-radius: 50%;
      
          .fa-question {
            color: $color-green;
            font-size: 16px;
          }
          
          .svg-inline--fa {
            width: 0.65em;
            height: 1.4em;
          }
      
          &:hover {
            .tooltip {
              visibility: visible;
              opacity: 1;
              transform: translate(-85%, -67%);
            }
          }

          .tooltip{
            position:absolute;
            z-index:1020;
            display:block;
            visibility:hidden;
            padding:15px;
            font-size: 15px;
            opacity:0;
            bottom: 14px;
            width: 300px;
            height: 50px;
            color: $color-green;
            background-color: #fff;
            -webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
            -moz-box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
            box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
          
            &:after {
              content: "";
              position: absolute;
              top: 100%;
              left: 82%;
              margin-left: -5px;
              border-width: 18px;
              border-style: solid;
              border-color: white transparent transparent transparent;
            }
          }
        }

        .c_tip {
          position: relative;
          z-index: 1000;
          height:30px;
          right: 1.5em;
          top: 0.85em;
      
          &:active {
            outline: none;
            border: none;
          }
      
          &:focus {
            outline: none;
            border: none;
          }
        }
      }
    }

    @media screen and (max-width: $breakpoint-phone) {
      margin-left:0;
      width:320px;
      max-width:100%;
      height: auto;
      z-index: 0;
    }
  }

  .view_more {
    position: absolute;
    bottom: -58px;
    left: 62%;
    border-color: transparent;
    background-color: transparent;
    outline: none;
  
    i {
      border: solid #fff;
      border-width: 0 6px 6px 0;
      display: inline-block;
      padding: 16px;
    }
    
    .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    @media screen and (max-width: $breakpoint-phone) {
      display: none;
    }

  }
}

.play-button-outer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 6em;
  height: 100vh;
  background-color: #3CB18F;
  cursor: pointer;

  .next_checklist {
    margin: 0 auto;
    top: 50%;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.4em 0 1.8em 3em;
    border-color: transparent transparent transparent #fff;
    opacity: .75;
  
    .button_text {
      position: absolute;
      right: 60%;
      bottom: -85px;
      text-transform: uppercase;
      color:$color-white;

      @media screen and (max-width: $breakpoint-phone) {
        position: fixed;
        transform: rotate(450deg);
        right: -28px;
        bottom:auto;
        top: 38%;
      }
    }

    @media screen and (max-width: $breakpoint-phone) {
      border-style: unset;
    }
  }

  &:hover {
    background-color: #249084;
  }

  @media screen and (max-width: $breakpoint-phone) {
    width: 3em;
  }
}

