@font-face {
  font-family: TitilliumWeb-Bold;
  src: url("../assets/fonts/TitilliumWeb-Bold.ttf"); }

@font-face {
  font-family: TitilliumWeb-SemiBold;
  src: url("../assets/fonts/TitilliumWeb-SemiBold.ttf"); }

@font-face {
  font-family: TitilliumWeb-Regular;
  src: url("../assets/fonts/TitilliumWeb-Regular.ttf"); }

@font-face {
  font-family: TitilliumWeb-Light;
  src: url("../assets/fonts/TitilliumWeb-Light.ttf"); }

@font-face {
  font-family: MuktaMalar-Regular;
  src: url("../assets/fonts/MuktaMalar-Regular.ttf"); }

#checklist {
  overflow: hidden;
  background: linear-gradient(90deg, #249084, #3EB490, #4CCC98, #54D99C, #68FFA8); }
  @media screen and (max-width: 500px) {
    #checklist {
      overflow-y: scroll; } }
  #checklist .socials {
    position: relative;
    bottom: 0;
    right: 40%; }
    @media screen and (max-width: 500px) {
      #checklist .socials {
        position: relative !important;
        bottom: 20px !important;
        right: 25% !important; } }

.bg_1 {
  background-image: linear-gradient(to right top, #2b4e5d, #337788, #3aa2af, #49d0d1, #68ffed) !important; }
  .bg_1 #checkbox input[type="checkbox"]:checked + span {
    background-color: #347F90 !important;
    color: #ffffff !important; }
  .bg_1 #checkbox input[type="checkbox"]:checked + span:before {
    color: white;
    background-color: #347F90 !important; }
  .bg_1 #checkbox span {
    color: #347F90 !important; }
  .bg_1 #checkbox input + span:before {
    color: #347F90;
    background-color: #347F90; }
  .bg_1 #checkbox .checklist_tip {
    border: 3px solid #347F90; }
    .bg_1 #checkbox .checklist_tip .fa-question {
      color: #347F90 !important; }
      .bg_1 #checkbox .checklist_tip .fa-question:hover {
        color: #ffffff !important; }
    .bg_1 #checkbox .checklist_tip:hover {
      background-color: #347F90 !important;
      color: #ffffff !important; }
    .bg_1 #checkbox .checklist_tip .tooltip {
      color: #347F90 !important; }
  .bg_1 .play-button-outer {
    background-color: #347F90 !important;
    opacity: 0.8; }
    .bg_1 .play-button-outer:hover {
      opacity: 1; }

.bg_2 {
  background-image: linear-gradient(to right top, #c63466, #d36c5f, #d49b73, #d5c4a1, #e4e6da) !important; }
  .bg_2 #checkbox input[type="checkbox"]:checked + span {
    background-color: #C83D6B !important;
    color: #ffffff !important; }
  .bg_2 #checkbox input[type="checkbox"]:checked + span:before {
    color: white;
    background-color: #C83D6B !important; }
  .bg_2 #checkbox span {
    color: #C83D6B !important; }
  .bg_2 #checkbox input + span:before {
    color: #C83D6B;
    background-color: #C83D6B; }
  .bg_2 #checkbox .checklist_tip {
    border: 3px solid #C83D6B; }
    .bg_2 #checkbox .checklist_tip .fa-question {
      color: #C83D6B !important; }
      .bg_2 #checkbox .checklist_tip .fa-question:hover {
        color: #ffffff !important; }
    .bg_2 #checkbox .checklist_tip:hover {
      background-color: #C83D6B !important;
      color: #ffffff !important; }
    .bg_2 #checkbox .checklist_tip .tooltip {
      color: #C83D6B !important; }
  .bg_2 .play-button-outer {
    background-color: #C83D6B !important;
    opacity: 0.8; }
    .bg_2 .play-button-outer:hover {
      opacity: 1; }

.bg_3 {
  background-image: linear-gradient(to right top, #bc531c, #d67a19, #eba31a, #f8ce27, #fefb42) !important; }
  .bg_3 #checkbox input[type="checkbox"]:checked + span {
    background-color: #D18326 !important;
    color: #ffffff !important; }
  .bg_3 #checkbox input[type="checkbox"]:checked + span:before {
    color: white;
    background-color: #D18326 !important; }
  .bg_3 #checkbox span {
    color: #D18326 !important; }
  .bg_3 #checkbox input + span:before {
    color: #D18326;
    background-color: #D18326; }
  .bg_3 #checkbox .checklist_tip {
    border: 3px solid #D18326; }
    .bg_3 #checkbox .checklist_tip .fa-question {
      color: #D18326 !important; }
      .bg_3 #checkbox .checklist_tip .fa-question:hover {
        color: #ffffff !important; }
    .bg_3 #checkbox .checklist_tip:hover {
      background-color: #D18326 !important;
      color: #ffffff !important; }
    .bg_3 #checkbox .checklist_tip .tooltip {
      color: #D18326 !important; }
  .bg_3 .play-button-outer {
    background-color: #D18326 !important;
    opacity: 0.8; }
    .bg_3 .play-button-outer:hover {
      opacity: 1; }

.bg_4 {
  background-image: linear-gradient(to right top, #42357f, #664594, #8a56a8, #af68bc, #d47ace) !important; }
  .bg_4 #checkbox input[type="checkbox"]:checked + span {
    background-color: #694694 !important;
    color: #ffffff !important; }
  .bg_4 #checkbox input[type="checkbox"]:checked + span:before {
    color: white;
    background-color: #694694 !important; }
  .bg_4 #checkbox span {
    color: #694694 !important; }
  .bg_4 #checkbox input + span:before {
    color: #694694;
    background-color: #694694; }
  .bg_4 #checkbox .checklist_tip {
    border: 3px solid #694694; }
    .bg_4 #checkbox .checklist_tip .fa-question {
      color: #694694 !important; }
      .bg_4 #checkbox .checklist_tip .fa-question:hover {
        color: #ffffff !important; }
    .bg_4 #checkbox .checklist_tip:hover {
      background-color: #694694 !important;
      color: #ffffff !important; }
    .bg_4 #checkbox .checklist_tip .tooltip {
      color: #694694 !important; }
  .bg_4 .play-button-outer {
    background-color: #694694 !important;
    opacity: 0.8; }
    .bg_4 .play-button-outer:hover {
      opacity: 1; }

.checklist_content {
  margin-top: 155px;
  color: #FFFFFF; }
  .checklist_content .checklist_step {
    font-family: 'TitilliumWeb-Light';
    font-size: 20px; }
    .checklist_content .checklist_step .checklist_name {
      font-family: TitilliumWeb-Bold;
      font-size: 50px; }
  .checklist_content .checklist_progress {
    display: flex;
    flex-direction: row; }
    .checklist_content .checklist_progress .hl {
      border: 2px solid #fff;
      width: 50px;
      opacity: 0.4;
      margin-top: 10px;
      margin-bottom: 10px; }
    .checklist_content .checklist_progress .complete, .checklist_content .checklist_progress .current {
      opacity: 1; }
    .checklist_content .checklist_progress .stepone {
      margin-right: 10px; }
    .checklist_content .checklist_progress .steptwo {
      margin-right: 10px; }
    .checklist_content .checklist_progress .stepthree {
      margin-right: 10px; }
    .checklist_content .checklist_progress .stepfour {
      margin-right: 10px; }
    .checklist_content .checklist_progress .stepfive {
      margin-right: 10px; }
  .checklist_content .checklist_info {
    font-family: TitilliumWeb-Regular;
    font-size: 15px;
    margin-bottom: 2em; }
  .checklist_content .photoChecklist {
    height: 400px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%; }
    .checklist_content .photoChecklist .active {
      transform: rotateY(180deg);
      margin-left: -80px; }
    .checklist_content .photoChecklist .side {
      backface-visibility: hidden;
      position: absolute;
      overflow: hidden;
      width: 80%;
      -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08); }
      .checklist_content .photoChecklist .side img {
        width: 100%;
        height: 400px; }
    .checklist_content .photoChecklist .back {
      background: #fff;
      color: #249084;
      font-family: Titillium Web;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      transform: rotateY(180deg);
      padding-top: 110px;
      padding-right: 50px;
      padding-left: 50px; }
    .checklist_content .photoChecklist #backside {
      background: #fff;
      height: 400px;
      color: #249084;
      font-family: 'Titillium Web';
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      transform: rotateY(180deg);
      padding-top: 20%;
      padding-right: 50px; }
    @media screen and (max-width: 500px) {
      .checklist_content .photoChecklist {
        display: none; } }
  .checklist_content .view_up {
    display: none;
    position: absolute;
    top: 24px;
    left: 62%;
    border-color: transparent;
    background-color: transparent;
    outline: none;
    z-index: 20; }
    .checklist_content .view_up i {
      border: solid #fff;
      border-width: 0 6px 6px 0;
      display: inline-block;
      padding: 16px; }
    .checklist_content .view_up .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg); }
  .checklist_content .checklistItems {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 60vh;
    max-width: 50%;
    margin-left: 100px;
    margin-top: 50px;
    overflow: hidden;
    z-index: 1; }
    .checklist_content .checklistItems div:nth-child(1) {
      margin-top: 50px; }
      @media screen and (max-width: 500px) {
        .checklist_content .checklistItems div:nth-child(1) {
          margin-top: 0px; } }
    .checklist_content .checklistItems .label_wrap {
      background: #fff;
      margin-bottom: 30px;
      margin-right: 30px;
      transition: transform 0.6s ease; }
      .checklist_content .checklistItems .label_wrap .my-checklist {
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        transition: box-shadow 1s;
        background-color: #fff;
        font-family: 'Titillium Web';
        font-weight: 200;
        font-size: 20px;
        width: 500px;
        height: 100%; }
        .checklist_content .checklistItems .label_wrap .my-checklist input {
          width: 0;
          height: 0;
          opacity: 0; }
        .checklist_content .checklistItems .label_wrap .my-checklist input + span:before {
          color: #249084;
          background-color: #249084;
          border-radius: 120%;
          height: 18px;
          width: 18px; }
        .checklist_content .checklistItems .label_wrap .my-checklist input:hover + span:before {
          color: #249084;
          background-color: #249084; }
        .checklist_content .checklistItems .label_wrap .my-checklist input[type="checkbox"]:checked + span {
          content: "\2713";
          border: 2px solid white;
          color: white;
          background-color: #249084;
          -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
          -moz-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
          transition: box-shadow 0.1s ease-in-out; }
        .checklist_content .checklistItems .label_wrap .my-checklist input[type="checkbox"]:checked + span:before {
          color: white;
          background-color: #249084; }
        .checklist_content .checklistItems .label_wrap .my-checklist span {
          display: block;
          position: relative;
          font-family: 'Titillium Web';
          background: #fff;
          color: #249084;
          font-size: 20px;
          padding: 15px 82px 15px 55px;
          box-sizing: border-box;
          width: 500px;
          height: 100%;
          text-align: left;
          overflow: hidden;
          z-index: 2;
          cursor: pointer; }
          .checklist_content .checklistItems .label_wrap .my-checklist span:before {
            content: "\2713";
            position: absolute;
            left: 5%;
            top: 36%;
            box-sizing: border-box;
            font-size: 16px;
            color: white;
            transition: all .4s;
            z-index: 1; }
          @media screen and (max-width: 500px) {
            .checklist_content .checklistItems .label_wrap .my-checklist span {
              width: 320px;
              max-width: 100%; } }
        .checklist_content .checklistItems .label_wrap .my-checklist:hover {
          box-shadow: 0 0 3px #515151; }
        .checklist_content .checklistItems .label_wrap .my-checklist .checklist_tip {
          border: none;
          background-color: #fff;
          cursor: pointer;
          -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
          margin-left: -35px;
          border: 3px solid #249084;
          width: 30px;
          border-radius: 50%; }
          .checklist_content .checklistItems .label_wrap .my-checklist .checklist_tip .fa-question {
            color: #249084;
            font-size: 16px; }
          .checklist_content .checklistItems .label_wrap .my-checklist .checklist_tip .svg-inline--fa {
            width: 0.65em;
            height: 1.4em; }
          .checklist_content .checklistItems .label_wrap .my-checklist .checklist_tip:hover .tooltip {
            visibility: visible;
            opacity: 1;
            transform: translate(-85%, -67%); }
          .checklist_content .checklistItems .label_wrap .my-checklist .checklist_tip .tooltip {
            position: absolute;
            z-index: 1020;
            display: block;
            visibility: hidden;
            padding: 15px;
            font-size: 15px;
            opacity: 0;
            bottom: 14px;
            width: 300px;
            height: 50px;
            color: #249084;
            background-color: #fff;
            -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
            -moz-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08); }
            .checklist_content .checklistItems .label_wrap .my-checklist .checklist_tip .tooltip:after {
              content: "";
              position: absolute;
              top: 100%;
              left: 82%;
              margin-left: -5px;
              border-width: 18px;
              border-style: solid;
              border-color: white transparent transparent transparent; }
        .checklist_content .checklistItems .label_wrap .my-checklist .c_tip {
          position: relative;
          z-index: 1000;
          height: 30px;
          right: 1.5em;
          top: 0.85em; }
          .checklist_content .checklistItems .label_wrap .my-checklist .c_tip:active {
            outline: none;
            border: none; }
          .checklist_content .checklistItems .label_wrap .my-checklist .c_tip:focus {
            outline: none;
            border: none; }
    @media screen and (max-width: 500px) {
      .checklist_content .checklistItems {
        margin-left: 0;
        width: 320px;
        max-width: 100%;
        height: auto;
        z-index: 0; } }
  .checklist_content .view_more {
    position: absolute;
    bottom: -44px;
    left: 62%;
    border-color: transparent;
    background-color: transparent;
    outline: none; }
    .checklist_content .view_more i {
      border: solid #fff;
      border-width: 0 6px 6px 0;
      display: inline-block;
      padding: 16px; }
    .checklist_content .view_more .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }
    @media screen and (max-width: 500px) {
      .checklist_content .view_more {
        display: none; } }

.play-button-outer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 6em;
  height: 100vh;
  background-color: #3CB18F;
  cursor: pointer; }
  .play-button-outer .next_checklist {
    margin: 0 auto;
    top: 50%;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.4em 0 1.8em 3em;
    border-color: transparent transparent transparent #fff;
    opacity: .75; }
    .play-button-outer .next_checklist .button_text {
      position: absolute;
      right: 60%;
      bottom: -85px;
      text-transform: uppercase;
      color: #FFFFFF; }
      @media screen and (max-width: 500px) {
        .play-button-outer .next_checklist .button_text {
          position: fixed;
          transform: rotate(450deg);
          right: -28px;
          bottom: auto;
          top: 38%; } }
    @media screen and (max-width: 500px) {
      .play-button-outer .next_checklist {
        border-style: unset; } }
  .play-button-outer:hover {
    background-color: #249084; }
  @media screen and (max-width: 500px) {
    .play-button-outer {
      width: 3em; } }

.stepone {
  height: 15%; }
  .stepone .one {
    top: 0%; }

.steptwo {
  height: 30%; }
  .steptwo .two {
    top: 22%; }

.stepthree {
  height: 45%; }
  .stepthree .three {
    top: 33%; }

.stepfour {
  height: 60%; }
  .stepfour .four {
    top: 43%; }

.stepfive {
  height: 75%; }
  .stepfive .five {
    top: 52%; }
