@font-face {
  font-family: TitilliumWeb-Bold;
  src: url("../assets/fonts/TitilliumWeb-Bold.ttf"); }

@font-face {
  font-family: TitilliumWeb-SemiBold;
  src: url("../assets/fonts/TitilliumWeb-SemiBold.ttf"); }

@font-face {
  font-family: TitilliumWeb-Regular;
  src: url("../assets/fonts/TitilliumWeb-Regular.ttf"); }

@font-face {
  font-family: TitilliumWeb-Light;
  src: url("../assets/fonts/TitilliumWeb-Light.ttf"); }

@font-face {
  font-family: MuktaMalar-Regular;
  src: url("../assets/fonts/MuktaMalar-Regular.ttf"); }

body {
  overflow: scroll; }

.luminance-target {
  -webkit-mask-image: url("../assets/images/banner-mask.png");
  mask-image: url("../assets/images/banner-mask.png");
  mask-mode: luminance;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 1100px;
  max-width: 100vw;
  height: 100vh; }
  @media screen and (max-width: 768px) {
    .luminance-target {
      -webkit-mask-image: none;
      mask-image: none;
      opacity: 0.8; } }

.education {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 60px;
  color: white;
  margin-top: 258px;
  margin-bottom: 20px; }
  @media screen and (max-width: 1024px) {
    .education {
      font-size: 3.5em; } }
  @media screen and (max-width: 500px) {
    .education {
      font-size: 3em;
      margin-left: 30px;
      margin-right: 30px; } }

.educationSubtext {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  color: white;
  padding-bottom: 50px; }
  @media screen and (max-width: 500px) {
    .educationSubtext {
      font-size: 1.2em;
      margin-left: 30px;
      margin-right: 20px; } }

.education2 {
  opacity: 0;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: white;
  margin-top: -300px;
  margin-bottom: 20px; }
  @media screen and (max-width: 500px) {
    .education2 {
      font-size: 2em;
      margin-left: 25px;
      margin-right: 20px; } }

.scroll-downs {
  position: absolute;
  top: 800px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 53px; }
  @media screen and (max-width: 1024px) {
    .scroll-downs {
      display: none; } }

.mousey {
  width: 1px;
  padding: 10px 15px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box; }

.scroller {
  width: 2px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite; }

@keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(15px);
    opacity: 0; } }

.dropbtn {
  width: 77%;
  background-color: white;
  color: #249084;
  padding: 16px;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  text-align: left;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 1024px) {
    .dropbtn {
      width: 100%; } }

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  opacity: 0;
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: left; }

/* Dropdown Content (Hidden by Default) */
.dropdown2-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 77%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 12px 0px; }
  @media screen and (max-width: 1024px) {
    .dropdown2-content {
      width: 100%; } }

/* Links inside the dropdown */
.dropdown2-content a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  color: #249084;
  padding: 12px 30px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.dropdown2-content a:hover {
  background-color: #249084;
  color: white; }

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown2-content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropbtn {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

.educPageStyle {
  margin-top: 100px; }
