body {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  overflow: hidden; }
  body#hometypespage {
    background: linear-gradient(90deg, #249084, #3EB490, #4CCC98, #54D99C, #68FFA8); }

.home {
  width: 100%; }

.centerVertical {
  margin-top: 170px; }
  .centerVertical h1 {
    font-size: 65px;
    color: white;
    text-align: center;
    font-family: 'Titillium Web';
    margin-bottom: 50px; }
  .centerVertical .thumbnail a:hover {
    text-decoration: none; }
  .centerVertical .thumbnail p {
    font-size: 25px;
    color: white;
    text-align: center;
    font-family: 'Titillium Web';
    margin-top: 20px;
    margin-bottom: 50px; }
  .centerVertical .thumbnail .darkGreen p:hover {
    color: #1D6D63 !important;
    transition: color 0.5s ease; }
