@font-face {
  font-family: TitilliumWeb-Bold;
  src: url("../assets/fonts/TitilliumWeb-Bold.ttf"); }

@font-face {
  font-family: TitilliumWeb-SemiBold;
  src: url("../assets/fonts/TitilliumWeb-SemiBold.ttf"); }

@font-face {
  font-family: TitilliumWeb-Regular;
  src: url("../assets/fonts/TitilliumWeb-Regular.ttf"); }

@font-face {
  font-family: TitilliumWeb-Light;
  src: url("../assets/fonts/TitilliumWeb-Light.ttf"); }

@font-face {
  font-family: MuktaMalar-Regular;
  src: url("../assets/fonts/MuktaMalar-Regular.ttf"); }

#quiz_page {
  background: linear-gradient(90deg, #249084, #3EB490, #4CCC98, #54D99C, #68FFA8);
  overflow: hidden; }
  @media screen and (max-width: 992px) {
    #quiz_page .luminance-mask {
      display: none; } }
  #quiz_page .luminance-target {
    max-width: 100vw;
    width: 100%;
    opacity: 0.3;
    height: 100vh; }
  #quiz_page .socials {
    position: relative;
    bottom: 0;
    right: 40%; }
    @media screen and (max-width: 992px) {
      #quiz_page .socials {
        position: relative !important;
        bottom: 0 !important;
        right: 40% !important; } }
    @media screen and (max-width: 500px) {
      #quiz_page .socials {
        position: relative !important;
        bottom: 20px !important;
        right: 25% !important; } }
  #quiz_page .choice_content {
    margin-top: 155px;
    color: #FFFFFF; }
    #quiz_page .choice_content .question_step {
      font-family: 'TitilliumWeb-Light';
      font-size: 20px; }
    #quiz_page .choice_content .question_name {
      font-family: TitilliumWeb-Bold;
      font-size: 40px; }
      @media screen and (max-width: 992px) {
        #quiz_page .choice_content .question_name {
          width: 90%; } }
    #quiz_page .choice_content .quiz_progress {
      display: flex;
      flex-direction: row; }
      #quiz_page .choice_content .quiz_progress .hl {
        border: 2px solid #fff;
        width: 50px;
        opacity: 0.4;
        margin-top: 10px;
        margin-bottom: 10px; }
      #quiz_page .choice_content .quiz_progress .complete, #quiz_page .choice_content .quiz_progress .current {
        opacity: 1; }
      #quiz_page .choice_content .quiz_progress .questionone {
        margin-right: 10px; }
      #quiz_page .choice_content .quiz_progress .questiontwo {
        margin-right: 10px; }
      #quiz_page .choice_content .quiz_progress .questionthree {
        margin-right: 10px; }
      #quiz_page .choice_content .quiz_progress .questionfour {
        margin-right: 10px; }
    #quiz_page .choice_content .quiz_tip, #quiz_page .choice_content .mb_quiz_tip {
      background-color: #75C0B0;
      padding: 15px 20px 3px 30px;
      margin-top: 4em;
      font-family: TitilliumWeb-SemiBold; }
      #quiz_page .choice_content .quiz_tip h2, #quiz_page .choice_content .mb_quiz_tip h2 {
        font-size: 30px; }
      #quiz_page .choice_content .quiz_tip h3, #quiz_page .choice_content .mb_quiz_tip h3 {
        font-size: 16px;
        margin-bottom: 2em;
        line-height: 1.4em;
        word-wrap: break-word; }
      @media screen and (max-width: 992px) {
        #quiz_page .choice_content .quiz_tip, #quiz_page .choice_content .mb_quiz_tip {
          display: none; } }
    #quiz_page .choice_content .mb_quiz_tip {
      display: none;
      margin-top: 0px !important; }
      #quiz_page .choice_content .mb_quiz_tip .question_step, #quiz_page .choice_content .mb_quiz_tip .quiz_progress, #quiz_page .choice_content .mb_quiz_tip .question_name {
        display: none; }
      #quiz_page .choice_content .mb_quiz_tip .quiz_tip {
        display: block; }
        @media screen and (max-width: 992px) {
          #quiz_page .choice_content .mb_quiz_tip .quiz_tip {
            margin-top: 2em;
            padding: 2px 5px 3px 10px; } }
      @media screen and (max-width: 992px) {
        #quiz_page .choice_content .mb_quiz_tip {
          display: block;
          margin-left: 15px;
          margin-right: 30px;
          margin-top: 2em;
          width: 80%;
          padding: 2px 5px 3px 10px; } }
      @media screen and (max-width: 500px) {
        #quiz_page .choice_content .mb_quiz_tip {
          margin-left: 15px;
          margin-right: 15px;
          width: 90% !important; } }
    #quiz_page .choice_content .view_up {
      display: none;
      position: absolute;
      top: 20%;
      left: 58.5%;
      border-color: transparent;
      background-color: transparent;
      outline: none;
      z-index: 20; }
      #quiz_page .choice_content .view_up i {
        border: solid #fff;
        border-width: 0 6px 6px 0;
        display: inline-block;
        padding: 16px; }
      #quiz_page .choice_content .view_up .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg); }
    #quiz_page .choice_content .choice_selection {
      display: flex;
      -ms-flex-direction: column;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
      height: 60vh;
      max-width: 50%;
      margin-left: 100px;
      margin-top: 50px;
      overflow: hidden;
      z-index: 1; }
      #quiz_page .choice_content .choice_selection div:nth-child(1) {
        margin-top: 50px; }
        @media screen and (max-width: 992px) {
          #quiz_page .choice_content .choice_selection div:nth-child(1) {
            margin-top: 0px; } }
      #quiz_page .choice_content .choice_selection .label_wrap {
        background: #fff;
        margin-bottom: 30px;
        margin-right: 30px;
        transition: transform 0.6s ease; }
        #quiz_page .choice_content .choice_selection .label_wrap .my_choices {
          margin-bottom: 0;
          display: flex;
          flex-direction: row;
          transition: box-shadow 1s;
          background-color: #fff;
          font-family: 'Titillium Web';
          font-weight: 200;
          font-size: 20px;
          width: 500px;
          height: 100%; }
          #quiz_page .choice_content .choice_selection .label_wrap .my_choices input {
            width: 0;
            height: 0;
            opacity: 0; }
          #quiz_page .choice_content .choice_selection .label_wrap .my_choices input + span:before {
            color: #249084;
            background-color: #249084;
            border-radius: 120%;
            height: 18px;
            width: 18px; }
          #quiz_page .choice_content .choice_selection .label_wrap .my_choices input:hover + span:before {
            color: #249084;
            background-color: #249084; }
          #quiz_page .choice_content .choice_selection .label_wrap .my_choices input[type="checkbox"]:checked + span {
            content: "\2713";
            border: 2px solid white;
            color: white;
            background-color: #249084;
            -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
            -moz-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
            transition: box-shadow 0.1s ease-in-out; }
          #quiz_page .choice_content .choice_selection .label_wrap .my_choices input[type="checkbox"]:checked + span:before {
            color: white;
            background-color: #249084; }
          #quiz_page .choice_content .choice_selection .label_wrap .my_choices span {
            display: block;
            position: relative;
            font-family: 'Titillium Web';
            background: #fff;
            color: #249084;
            font-size: 20px;
            padding: 15px 82px 15px 55px;
            box-sizing: border-box;
            width: 500px;
            height: 100%;
            text-align: left;
            overflow: hidden;
            z-index: 2;
            cursor: pointer; }
            #quiz_page .choice_content .choice_selection .label_wrap .my_choices span:before {
              content: "\2713";
              position: absolute;
              left: 5%;
              top: 36%;
              box-sizing: border-box;
              font-size: 16px;
              color: white;
              transition: all .4s;
              z-index: 1; }
            @media screen and (max-width: 500px) {
              #quiz_page .choice_content .choice_selection .label_wrap .my_choices span {
                width: 305px;
                max-width: 100%; } }
          #quiz_page .choice_content .choice_selection .label_wrap .my_choices:hover {
            box-shadow: 0 0 3px #515151; }
      @media screen and (max-width: 992px) {
        #quiz_page .choice_content .choice_selection {
          height: auto;
          margin-left: 0px;
          max-width: 100%; } }
      @media screen and (max-width: 768px) and (min-width: 500px) {
        #quiz_page .choice_content .choice_selection {
          width: 400px; } }
      @media screen and (max-width: 500px) {
        #quiz_page .choice_content .choice_selection {
          margin-left: 0;
          width: 320px;
          max-width: 100%;
          height: auto;
          z-index: 0; } }
    #quiz_page .choice_content .view_more {
      position: absolute;
      bottom: 8%;
      left: 58.5%;
      border-color: transparent;
      background-color: transparent;
      outline: none; }
      #quiz_page .choice_content .view_more i {
        border: solid #fff;
        border-width: 0 6px 6px 0;
        display: inline-block;
        padding: 16px; }
      #quiz_page .choice_content .view_more .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg); }
      @media screen and (max-width: 992px) {
        #quiz_page .choice_content .view_more {
          display: none; } }
    @media screen and (max-width: 992px) {
      #quiz_page .choice_content {
        margin-top: 90px; } }
  #quiz_page .play-button-outer {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 6em;
    height: 100vh;
    background-color: #249084;
    cursor: pointer; }
    #quiz_page .play-button-outer .play-button {
      margin: 0 auto;
      top: 50%;
      position: relative;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 1.4em 0 1.8em 3em;
      border-color: transparent transparent transparent #fff;
      opacity: .75; }
      #quiz_page .play-button-outer .play-button .button_text {
        position: absolute;
        right: 60%;
        bottom: -85px;
        text-transform: uppercase;
        color: #FFFFFF; }
        @media screen and (max-width: 992px) {
          #quiz_page .play-button-outer .play-button .button_text {
            position: fixed;
            transform: rotate(450deg);
            right: -4px;
            bottom: auto;
            top: 38%; } }
      @media screen and (max-width: 992px) {
        #quiz_page .play-button-outer .play-button {
          border-style: unset; } }
    #quiz_page .play-button-outer:hover {
      opacity: .7; }
    @media screen and (max-width: 992px) {
      #quiz_page .play-button-outer {
        width: 3em; } }
  @media screen and (max-width: 992px) {
    #quiz_page {
      overflow-y: scroll;
      height: auto; } }
